.Services{
    /* display: flex; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 20px;
    flex-wrap: wrap;
  
}
.Services img{
    width: 300px;
    height: 200px;
    padding: 2px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    margin-right: auto;
   
    border-radius: 30px;
}
.Services img:hover{
transform: scale(1.1);
transition-duration: 2s;


}
@media (max-width: 768px) {
    .Services {
        flex-direction: column; /* Stack images in a column on smaller screens */
    }
   
}
